.error 
{
	color: #FF0000;
}
body{
    font-size: 12px;
}

.content-reservation
{
    width:1000px;
    height: 1425px;
    padding-bottom: 0px;
    margin: 303px auto;
    margin-bottom: 0px;
    /* Fallback for web browsers that doesn't support RGBa */
    border-radius: 10px;
   background: #313944;
}
.content-payment
{
    width:1200px;
    height: 1425px;
    padding-bottom: 0px;
    margin: 303px auto;
    margin-bottom: 0px;
    /* Fallback for web browsers that doesn't support RGBa */
    border-radius: 10px;
    background: #313944;
}
.note_payment
{
    width: 680px;
    height: 30px;
    border: 1px solid red;
    margin-left: -5px;
    color: red;
    font-size: 12px;
    padding-left: 5px;
    font-style: italic;
}
.payment-box
{
    width: 700px;
    height: 650px;
    margin-top: -1000px;
    margin-left: 485px;
    background-color: white;
}

.order-box
{

    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 462px;
    height: 330px;
    color: red;
    margin-right: 0px;
   background-color: white;
}
.pax-box
{
    line-height: 20px;
    width: 462px;
    height: 670px;
    color: red;
    margin-top: 340px;
    margin-left: 10px;
    background-color: white;
}
.heading
{
    background-color: orange;
    color: black;
    font-size: 18px;
    margin-top: 0px;
    padding: 10px;
}
.heading-bank
{
    color: black;
    font-size: 18px;
    margin-top: 0px;
    padding: 10px;
    background-color: orange;
    margin-bottom: 0px;
}
.type-img
{
    margin-top: -10px;
    margin-bottom: -20px;
    height: 80px;
    width: 80px;
}
.type-imgbpi
{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 80px;
}
.name-payment
{
   font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);

    margin-left: 10px;
    font-size: 15px;
}
.names
{
   font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    line-height: 30px;
    margin-left: 10px;
    font-size: 15px;
}
.details
{
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);

    margin-left: 10px;
    font-size: 15px;
}
.op-txt
{
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);

    margin-top: -15px;
    margin-bottom: -10px;
    margin-left: 25px;
    font-size: 15px; 
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: 1200px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

}

.topright {
 float: right;
 cursor: pointer;
 font-size: 20px;
}

.topright:hover {color: red;}

.temp-box
{
    width:960px;
    height: 10px;
    margin: 303px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* Fallback for web browsers that doesn't support RGBa */
    border-radius: 0px 0px 12px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 0px 2px rgba(255, 255, 255, 0.3);
}

.reservation-box
{
    margin-top: 30px;
    width: 920px;
    height: 1100px;
    margin-left: 20px;
    border-radius: 4px;
    background: rgba(250, 250, 250, 0.8);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
label
{
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    float: left;
    padding-left: 15px;

}
#new_optional select
{
    font-family: Poor Richard;
            font-size: 18px;
            height: 35px;
            background: #fcfcfc;
            border:1px solid #cfd8ea;

            border-radius: 3px;
            padding: 0px 0px 0px 10px;
            margin: 0px 0px 5px 0px;
}
#bDate
{
    background-image: url(../resources/calender.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 5px;
}
 #eDate
{
    background-image: url(../resources/calender.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 5px;
}    
        .tField, #eventtype, #menu, #menus, #starttime, #endtime{
            font-family: Poor Richard;
            font-size: 18px;
            height: 35px;
            background: #fcfcfc;
            border:1px solid #cfd8ea;

            border-radius: 2px;
            padding: 0px 0px 0px 10px;
            margin: 0px 0px 5px 0px;
    }     
        
        .val_error{
            padding: 0px 0px 0px 0px;
            margin: -30px 0px 0px 400px;
            position: absolute;
            color: red;
        }
        .val_error_p{
            padding: 0px 0px 0px 0px;
            margin: -23px 0px 0px 275px;
            position: absolute;
            color: red;
        }
        .val_error_exp{
            padding: 0px 0px 0px 0px;
            margin: 10px 0px 0px 10px;
            position: absolute;
            color: red;
        }
        .val_error_bpi
        {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 150px;
            position: absolute;
            color: red;
        }
        .info1{
            border: 7px solid windowframe;
            margin: 10px 0px 10px 0px;
            padding: 20px 0px 20px 20px;
            height: 600px;
        }
            
        .title{
            font-size: 30px;
        }
        
        #title{
            font-size: 20;
            font-family: calibri;
        }
        
        h4{
            text-align: center;
            margin: -25px 0px 0px 0px;
            padding: 0px 0px 0px 150px;
            color: red;
        }
   
.reserve-label
{
    font-family: Poor Richard;
    color: black;
    text-shadow: 2px 2px white;
    text-align: left;
    margin-top: 20px;
    padding-left: 15px;
    padding-bottom: 0px;
}
.star
{
    margin: 0;
    font-size: 20px;
    padding-right: 45px;
    float: right;
    color: red;
}
#note{
    color: red;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 15px 0px 30px 15px;
}
/*CUSTOMER INFORMATION*/
#firstname1{
margin: 0px 55px 0px 15px;
}
#lastname1{
margin: 0px 55.5px 0px 15px;
}
     
     
#contact1{
margin: 0px 50px 0px 15px;
}
     
#birthdate{
margin: 0px 61.5px 0px 15px;
}
     
#number1{
margin: 0px 15.5px 0px 15px;
}
     
#street1{
margin: 0px 87px 0px 15px;
}
     
#barangay1{
margin: 0px 60px 0px 15px;
}
     
#city1{
margin: 0px 97px 0px 15px;
}

/* EVENT INFORMATION*/
#date1{
margin: 0px 52px 0px 15px;
}
     
#time{
margin: 0px 32px 0px 15px;
}
#timeend{
margin: 0px 38px 0px 15px;
}
     
#eventType1{
margin: 0px 41.5px 0px 15px;
}
#otherevent1{
    margin: 0px 44px 0px 15px;
}    
#pax1{
margin: 0px 28px 0px 15px;
}
     
#venue1{
margin: 0px 82px 0px 15px;
}

     
#motif1{
margin: 0px 90.5px 0px 15px;
}
.btn{
            text-align: center;
            font-size: 20px;
            width:200px;
            height: 50px;
            font-family: Poor Richard;
            text-shadow: 0 1px rgba(255, 255, 255, 0.25);
            background: #eee;
            background: rgba(250, 250, 250, 0.8);
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
            background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
            background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
            -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
           
            margin: 10px 10px 50px 650px;
            transition: all 0.3s ease-in-out;
}
.btn:hover{
            background: white;
            color: black;
            transition: all 0.3s ease-in-out;
}
.btn-payment
{
    font: 15px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    text-align: center;
    width:200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(255, 154, 53);
    margin: 50px 10px 50px 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-payment:hover{
    background-color: rgb(255, 187, 119);
    transition: all 0.3s ease-in-out;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
}

/* Float the list items side by side */
ul.tabs li {
    float: left;
    width: 150px;
    display: inline-block;
    height: 80px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 1px solid #CCC;
}

/* Style the links inside the list items */


/* Change background color of links on hover */
ul.tabs li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tabs li a:focus, .active {
    background-color: #ccc;
}
.tabcontentPax {
    display: none;
    width: 524px;
    height: 440px;
    margin-top: 10px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    background-color: white;
}
/* Style the tab content */
.tabcontent2 {
    display: none;
    width: 674px;
    height: 486px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
}
.tabcontent2 label
{
    font: 15px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
}
.txtField
{
    font: 15px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    height: 30px;
    width: 250px;
    background: #fcfcfc;
    border:1px solid #cfd8ea;

    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
}
.tfexpiry
{
    font: 15px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    height: 30px;
    width: 35px;
    background: #fcfcfc;
    border:1px solid #cfd8ea;

    border-radius: 2px;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 10px;
}
.tfccv
{
    font: 15px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    height: 30px;
    width: 50px;
    background: #fcfcfc;
    border:1px solid #cfd8ea;

    border-radius: 2px;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 35px;
}
.hover_img a { position:relative; margin-left: 10px; text-decoration: none; color: red;}
.hover_img a span { position:absolute; display:none; z-index:99; margin-left:260px; }
.hover_img a:hover span { display:block; }

.hover_bpi a { float: left; margin-left: 275px; margin-top: -30px; text-decoration: none; color: red;}
.hover_bpi a span { position:absolute; display:none; z-index:99; margin-left:10px; }
.hover_bpi a:hover span { display:block; }

.accountnum
{
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

#up_preview
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: -30px;
}
#imgInp
{
    margin-left: 50px;
}

.pax-box table
{
    line-height: 12px;
    margin: 10px 5px;
    font-size: 13px;
    color: black;
    width:450px;
    background-color:#F0F0F0;
    border-radius: 4px;
}

.pax-box table td
{
    color: black;
    background-color:#FFFFFF;
}

.order-box table
{
    line-height: 12px;
    margin: 10px 20px;
    font-size: 14px;
    color: black;
    width:400px;
    background-color:#F0F0F0;
    border-radius: 4px;
}

.order-box table td
{
    color: black;
    background-color:#FFFFFF;
}

.return_
{
    font-size: 12px;
    color: black;
    float: right;
}


